.Nav {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  background-color: #111A20;
  padding: 20px;
}

.Select_panel {
  display: flex;
  align-items: center;
}

.Select_panel > p {
  color: #6A747D;
  padding-left: 30px;
  line-height: 1.3;
}